/* 
* Bootstrap Visualization Dashboard - CSS Style Sheet 
*/  
  /* Navbar */
  .navbar {
    max-height: 120px;
  }
  /* home button resting color */
  .navigation .navbar-brand {
    color: #ffffff;
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    background-color: #1745b8;
    font-family: 	'Times New Roman', Times, serif;
  }
  .navbar {
    background-color: #1745b8;
    font-size: 25px; 
  }
  /* drop down background color */
  .active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: white !important;
  }
  .dropdown-item {
    color: #1745b8 !important;
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f04b4c !important;
  }
  /* drop down shadow color */
  .nav-link:hover {
    background-color:#E7E7E7 !important;
   }
  /* home button hover color */
  .navbar-brand:hover {
  color: #999595 !important;
  }
  /* hyperlinks */
  a {
    color: #090cec;
    font-size: 15px;
  }
  
  /* Images */
  img{
    width:10% !important;
    height:10% !important;
  }
  .active, .panel:hover {
    border-color:#1745b8;
    border-style: solid;
    
  }
  .vizualization {
    width:100% !important;
    height:100% !important;
  }
  
  /* Title */
  .title {
    color: #3d6098;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 10px;
  }
  
  /* Paragraph */
  p {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  }
  
  /* Box */
  .box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    color: #3a17b8;
    background-color: white;
  
  }
  /* Table */
  .table {
    font-size: 15px;
    border-top-color: rgb(241, 10, 10) !important;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Footer */
  footer {
  background-color: #1745b8;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #e9331b;
  color: white;
  min-height: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  }
  
  /* Media Queries */
  /* @media(max-width: 992px) */
  @media(max-width: 20000px) {
    .navbar-expand-lg {
    background-color: #1745b8 !important;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar div {
      margin: inherit;
      background-color: white;
    }
    .navbar-brand {
      padding: 10px !important;
    }
    button{
      margin-right: 30px;
    }
    button:focus {
      outline: 1px dotted;
      outline: auto 5px;
    }
  }
  /* Home page style */
  /* img {img-align: center;} */
  h1 {text-align: center;}
  h2 {text-align: center;}
  h3 {text-align: center;}
  h4 {text-align: center;}
  img {text-align: center;}
  
  ul {text-align: center;}
  
  img {text-align: center;}
  /* center the img in CSS */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* moves bullet points on homepage to fit the sentence */
  ul {
    text-align: center;
    list-style-position: inside;
}
